#hero-item {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#hero-item-expanded {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
