/* .react-hero-overlay::-webkit-scrollbar {
  position: absolute;
  right: 0;
} */
/* 
.react-hero-overlay::-webkit-track {
  position: absolute;
}

.react-hero-overlay::-webkit-thumb {
  position: absolute;
} */
